# Copy to ops/runtime/tmux.env and set pane targets.
# Find panes:
# tmux list-panes -a -F '#{pane_id} #{session_name}:#{window_index}.#{pane_index} #{pane_title}'

TMUX_ORCH_PANE="%1"
TMUX_WORKER_BACKEND_PANE="%2"
TMUX_WORKER_FRONTEND_PANE="%3"
TMUX_WORKER_QA_PANE="%4"
TMUX_WORKER_SENTINEL_PANE="%5"
